<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Novo Componente</h4>
  </div>
  <div class="row justify-content-center">
    <%= form_with scope: :componente, url: componentes_path, local: true do |form| %>
      <div class="form-group">
        <%= form.label "Id equipamento:" %>
        <%= form.number_field :equipamento_id, class: "form-control bfh-number" %>
      </div>
      <br>
      <div class="form-group">
        <%= form.label "Descrição:" %>
        <%= form.text_field :descricao, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= form.submit  'Salvar', class: 'form-control btn-primary' %>
      </div>
    <% end %>
  </div>
</div>